@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --primary: #de1565; */
    --primary: #8d4ee9;
    --primary-old: #ff5f9e;
    --secondary: #060047;
    --body: #4f4b79;
    --pink: #e90064;
    --primary-light: #762095;

    --ff-source-sans-pro: "Source Sans Pro", sans-serif;
    --ff-poppins: "Poppins", sans-serif;

    --gradient-1: linear-gradient(
        90deg,
        var(--secondary) 0,
        var(--primary-light) 51%,
        var(--secondary)
    );
    --gradient-2: linear-gradient(90deg, var(--primary), var(--secondary));

    --fs-1: 4.2rem;
    --fs-2: 3.8rem;
    --fs-3: 3.2rem;
    --fs-4: 2.5rem;
    --fs-5: 2.4rem;
    --fs-6: 2rem;
    --fs-7: 1.8rem;
    --fs-8: 1.6rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /**
   * border radius
   */

    --radius-4: 4px;
    --radius-12: 12px;

    /**
   * spacing
   */

    --section-padding: 60px;

    /**
   * transition
   */

    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

    /**
   * shadow
   */

    --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

*::selection {
    background-color: var(--primary);
    color: white;
}

@layer base {
    html {
        font-family: var(--ff-poppins);
        font-size: 10px;
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3 {
        @apply font-ssp text-secondary;
    }
    h1 {
        @apply text-fs-1  font-700 mb-[15px];
    }
    h2 {
        @apply text-fs-1 font-600 mb-[10px];
    }
    h3 {
        @apply text-fs-5 font-500 mb-[5px];
    }
    p {
        @apply text-fs-8;
    }
}

@layer utilities {
    .hero-title {
        @apply text-white mb-[20px] leading-tight;
    }
    .section {
        @apply py-[60px];
    }

    .gradient-1 {
        background-image: var(--gradient-1);
    }
    .gradient-2 {
        background-image: var(--gradient-2);
        background-size: 200%;
    }
    .gradient-2:is(:hover, :focus) {
        background-position: right;
    }
    .bg-gradient-primary {
        background-image: var(--gradient-1);
    }
}

@layer components {
   
    .btn-primary {
        @apply flex justify-between items-center gradient-2  py-[12px] px-[35px]  text-white rounded-[25px] text-fs-8 font-[500] transtion-2 select-none;
    }
   
    .nav-list {
        @apply lg:flex lg:gap-[25px];
    }
    .nav-list-item {
        @apply border-b text-secondary md:border-b-0;
    }
    .nav-list-item-link {
        @apply text-fs-8 inline-block py-3  font-[600] text-secondary;
    }
    .nav-list-item-link.active {
        @apply text-primary;
        
    }

    .btn-circle {
        @apply p-[10px] border border-primary rounded-full fill-primary ease-in;
    }

    .social-link {
        @apply inline-block p-[8px] rounded-full  transition ease-in;
    }
    .social-link-icon {
        @apply fill-white  transition ease-in;
    }

    .card {
        @apply shadow-xl p-8 rounded-xl bg-white hover:shadow-2xl transition;
    }
    .tech-img {
        @apply rounded-lg;
    }
}

.hero {
    background-image: url(../images/hero-bg-bottom.png),
        url(../images/hero-bg.png), var(--gradient-1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -280px bottom, center, center;
    background-size: auto, cover, auto;
    padding-block-start: 120px;
    padding-block-end: var(--section-padding);
}

.transtion-1 {
    transition: var(--transition-1);
}

.transtion-2 {
    transition: var(--transition-2);
}

.cubic-in {
    transition: var(--cubic-in);
}

.cubic-out {
    transition: var(--cubic-out);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.navbar {
    visibility: hidden;
}

.navbar.active {
    visibility: visible;
    transform: translateX(280px);
    transition: var(--transition-2);
}

.title-underline {
    position: relative;
}

.title-underline::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 50%;
    height: 6px;
    background-image: var(--gradient-2);
    border-radius: 10px;
}

.card-icon {
    /* background-image: url(../images/service-banner-pattern.png); */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: hsla(335, 87%, 53%, 0.12); */
    aspect-ratio: 1 / 1;
    max-width: 165px;
    display: grid;
    place-content: center;
    margin-inline: auto;
    transition: var(--transition-1);
}

.go-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-15px);
    box-shadow: var(--shadow);
    @apply gradient-2;
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 1024px) {
    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }
}
